.banner{
    display: block;
    box-sizing: content-box;
    background-image: url(../../assets/img/Photo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 747px;
    border-bottom: 10px solid #000;
    padding-top: 115px;
    padding-left: 90px;
}

.banner .wapper{
    display: flex;
    flex-direction: column;
    width: 640px;
}

.banner .box{
    margin-bottom: 40px;
}

.banner .navigation{
    display: flex;
    justify-content: space-around;
}