.button{
    display: inline-block;
    background-color: #f25A70;
    padding: 20px 18px;
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0;
}

.button:hover{
    background-color: #44e3ff;
    color: black;
    transform: scale(1.08);
}

.button-article{
    position: absolute;
    margin-top: 418px;
    margin-left: 69px;
}
.button-second{
    margin-left: 112px;
}