.header{
    display: flex;
    background-color: #B35BF8;
    border-bottom: 10px solid black;
    padding: 10px 20px;
    justify-content: space-between;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
}
