.main-box{
    background-color: #3A4042;
    display: inline-block;
    font-family:"Press Start 2P", Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px 0px #000000 ;
    text-align: center;
    padding: 42px 44px;
}
 