.main-title{
    color: #F25A70;
    font-size: 40px;
    text-shadow: 4px 4px 0px #000000;
    margin-bottom: 15px;
}

.main-title._second{
    color: black;
    text-align: center;
    margin-bottom: 75px;
    font-size: 40px;
    text-shadow: 1px 1px 0px #ffffff;
}