.main-button{
    display: inline-block;
    background-color: #f25A70;
    padding: 20px 18px;
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0;
    transition: transform 100ms cubic-bezier(.45,.95,.68,2.48);
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.main-button:hover{
    background-color: #44e3ff;
    color: black;
    transform: scale(1.08);
}
/* 
.main-button-article{
    position: absolute;
    margin-top: 418px;
    margin-left: 69px;
}
.main-button-second{
    margin-left: 112px;
} */