.progress-bar{
    border: 4px solid black;
    height: 40px;
    width: 320px;
}

progress{
    appearance: auto;
    margin-top: 16px;
    margin-bottom: 20px;
    background-color: #62C370;
    height: 1em;
    width: 10em;
}

progress::-webkit-progress-value{
    background-color: #62C370;
}

progress::-webkit-progress-bar{
    background-color: white;
}

/*         Pro firefox
progress::-ms-progress-value{
    background-color: #62C370;
}


progress::-ms-progress-bar{
    background-color: white;
} */