.section-skills{
    background-color: #B35BF8;
    border-bottom: 10px #582a83 solid;
    font-family:"Press Start 2P", Arial, Helvetica, sans-serif;    
    padding-top: 50px;
    padding-bottom: 120px;
    text-shadow: 1px 1px 0px #ffffff;
}


.section-skills img{
    width: 90px;
    height: auto;
}

.titulo-skills{
    color: black;
    text-align: center;
    margin-bottom: 75px;
    font-size: 40px;
}
.article-skill-own{
    width: 430px;
    height: 90px;
    margin-bottom: 40px;
}

.warpper-skill .article-skill-own:nth-child(odd){
    margin-right: 100px;
}

.warpper-skill{ 
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    height: 480px;
}

.section-div{
    display: inline-block;
}

.section-div h3{
    color: #3A4042;
    font-size: 25px;

}

.progress-bar{
    border: 4px solid black;
    height: 40px;
    width: 320px;
}
progress{
    -webkit-writing-mode: horizontal-tb !important;
    appearance: auto;
    margin-top: 16px;
    margin-bottom: 20px;
    background-color: #62C370;
    height: 1em;
    width: 10em;
}

progress::-webkit-progress-value{
    background-color: #62C370;
}
progress::-webkit-progress-bar{
    background-color: white;
}