.section-skills{
    background-color: #B35BF8;
    border-bottom: 10px #582a83 solid;
    font-family:"Press Start 2P", Arial, Helvetica, sans-serif;    
    padding-top: 50px;
    padding-bottom: 120px;
    text-shadow: 1px 1px 0px #ffffff;
}

.section-skills .title{
    color: #3A4042;
    font-size: 25px;
}
