article{
    position: absolute;
    background-image: url(../../assets/img/Photoriginal.png);
    width: 100%;
    height: 797px;
    left: 0px;
    top: 80px;
    border-bottom: 10px solid #000;
    border-top: 10px solid #000;
    background-repeat: no-repeat;
    border-radius: 0px;
}

.pixel{
    position: absolute; 
    width: 955px;
    height: auto;
    border-right: 5px solid #000;
}

h1{
    color: #F25A70;
    font-size: 40px;
    text-shadow: 4px 4px 0px #000000;
}
