.wrapper-skill .skill-tecnology:nth-child(odd){
    margin-right: 100px;
}

.wrapper-skill{ 
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    height: 480px;
}

.wrapper-skill .icon{
    width: 90px;
    height: auto;
}

