.wrapper-skill .skill-tecnology:nth-child(2n+1){
    margin-right: 100px;
}

.wrapper-skill{ 
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}


